nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
h1 {
  font-size: 15px;
}
.purp-span {
  color: blue;
}
.nav-icons > i {
  padding: 0 4px;
  color: blue;
}
.mobile-none {
  display: none;
}
/* headerio galas=========================== */
.hero {
  background-color: #645cff;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  gap: 30px;
}
.hero > h2 {
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 30px;
}
.hero > p {
  text-align: center;
}
.hero-btn {
  background-color: inherit;
  border: none;
  border: 1px solid #645cff;
  color: white;
  padding: 4px 8px;
}
/* ======abouyt us========== */
article {
  max-width: 90%;
  margin-inline: auto;
}
.title {
  text-align: center;
  padding: 20px 0;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 4px;
}
article > img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.explore-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 20px;
}
article > p {
  font-size: 13px;
  padding-bottom: 10px;
}
.read-more-link {
  text-transform: capitalize;
  color: rgb(24, 73, 234);
  padding-bottom: 50px;
}
/* services */
.services {
  text-align: center;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.sercives-card {
  padding: 20px 10px;
}
.service-icon {
  background-color: #645cff;
  padding: 15px;
  margin-bottom: 20px;
}
.card-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 10px;
  font-size: 18px;
}
.card-para {
  font-size: 12px;
}
/* tours========================== */
.tours-card {
  border-bottom: 1px solid rgb(205, 212, 215);
  margin-bottom: 20px;
  margin-top: 20px;
}
.img-card {
  position: relative;
}
.inside-img {
  position: absolute;
  top: 10px;
  background-color: #645cff;
  padding: 3px 5px;
  font-size: 12px;
  border: none;
}
.img-title {
  padding: 20px 20px 30px 20px;
}
.place-and-price {
  display: flex;
  justify-content: space-between;
}
.map {
  color: #645cff;
  padding-left: 20px;
  font-size: 13px;
}
.time-price {
  line-height: 1;
  font-size: 13px;
  padding-bottom: 30px;
  padding-right: 20px;
}
.all-tours {
  color: #645cff;
  display: block;
  font-size: 12px;
  text-align: center;
  padding: 20px 20px 50px;
}
/* gallery===================== */
.img-gallery-and-text {
  background-color: #645cff;
}
/* ================cta=========== */
.cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cta-title {
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  margin: 0;
  font-weight: normal;
  padding: 10px 10px;
}
.sign-up > p {
  padding-bottom: 30px;
  color: white;
  padding-left: 20px;
  font-size: 13px;
  line-height: 1.1;
}
.sign-up {
  max-width: 50%;
}
.input-and-btn {
  background-color: white;
  margin-right: 20px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
}
.input-and-btn > input {
  padding-left: 10px;
  border: none;
  width: 100%;
}
.form-btn {
  border: none;
  padding: 5px 10px;
}
/* footer */
footer {
  background-color: black;
  color: white;
  padding: 30px 50px 40px;
}
.foot-nav {
  font-size: 10px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
}
.foot-nav > a {
  padding-left: 3px;
  padding-right: 3px;
}
.foot-icons {
  text-align: center;
  color: #645cff;
  font-size: 12px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.foot-icons > .fa {
  padding-right: 3px;
  padding-left: 3px;
}
.footer-text {
  font-size: 10px;
  text-align: center;
}
/* MEDIA========================================================================================================= */
@media screen and (min-width: 789px) {
  article,
  .services,
  .section-tours {
    max-width: 700px;
    margin: 0 auto;
  }
  nav,
  .hero,
  .our-gallery,
  footer {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav {
    justify-content: space-around;
  }
  .mobile-none {
    display: block;
  }
  .hero {
    background: #4f5cd6ed url(/img/main.jpg) no-repeat center;
    position: relative;
  }
  .hero::before {
    position: absolute;
    inset: 0;
    content: '';
    background: linear-gradient(#645cffa0, #645cff54);
  }
  .hero > * {
    z-index: 1;
    position: relative;
  }
  .hero h2 {
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 6px;
  }
  .br-title {
    display: none;
  }
  .hero > p {
    text-align: center;
    font-size: 12px;
    max-width: 500px;
  }
  /* about us */

  .about-us-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .img-box {
    width: 50%;
    height: 193px;
    border: 5px solid #645cff;
    position: relative;
  }
  .box-img {
    content: '';
    position: relative;
    left: 15px;
    top: 15px;
  }
  .about-text-aside {
    max-width: 50%;
    margin-left: 30px;
    padding-top: 50px;
  }
  .explore-title {
    font-weight: 600;
  }
  .about-text-aside > p {
    padding-bottom: 10px;
    font-size: 12px;
    letter-spacing: 0.5px;
  }

  /* services ========================== */
  .services > .title {
    margin-top: 100px;
  }
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .sercives-card {
    display: flex;
    gap: 5px;
  }
  .card__logo {
    grid-row: span 2;
  }
  .card__title {
    text-align: left;
    padding-left: 5px;
  }
  /* section tours */
  .tours-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .inside-img {
    font-size: 8px;
  }
  .map {
    font-size: 10px;
  }
  .time-price {
    font-size: 10px;
  }
  .grid-galery {
    height: 153px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
  }
  /* cta */
  .cta {
    justify-content: space-between;
  }
  .input-and-btn {
    width: 350px;
    padding: 5px;
  }
}
